extends layout

block content
    h1.header.center.orange-text= title
    div.row.center
        h5.header.col.s12.light Welcome to the future of healthcare.
        br
        img.baby(src="images/baby.jpg")