doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    body
        
        block content
        script(type="text/javascript" src="/javascripts/jquery.min.js")
        script(type="text/javascript" src="/javascripts/materialize.min.js")
