doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
        title= title
        link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    body
        nav.light-blue.lighten-1(role="navigation")
            div.nav-wrapper.container
                a.brand-logo#logo-container(href="#") babies.io
                ul.right.hide-on-med-and-down
                    li 
                        a(href="#") Navbar link
                ul.side-nav#nav-mobile
                    li
                        a(href="#") Navbar link
                a.button-collapse(data-activates="nav-mobile" href="#")
                    i.material-icons menu
        div.section.no-pad-bot
            div.container
                block content
        script(type="text/javascript" src="/javascripts/jquery.min.js")
        script(type="text/javascript" src="/javascripts/materialize.min.js")
