doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
        title= title
        link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel='stylesheet', href='/stylesheets/materialize.min.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
        header
            nav.light-blue.lighten-1(role="navigation")
                div.nav-wrapper.container
                    a.brand-logo#logo-container(href="/")
                        img.logo(src="images/logo.jpg")
                        | BlockBabies

                    mixin links
                        li
                            a(href="/login") Login
                    ul.right.hide-on-med-and-down
                        +links
                    ul.side-nav#nav-mobile
                        +links
                    a.button-collapse(data-activates="nav-mobile" href="#")
                        i.material-icons menu
        main
            div.section.no-pad-bot
                div.container
                    block content
        footer.page-footer.orange
            div.container
                div.row
                    div.col.s12
                        h5.white-text We Are All Babies
                        p.grey-text.text-lighten-4 Some are older than others
            div.footer-copyright
                div.container
                    | © Blockchain for Babies

        script(type="text/javascript" src="/javascripts/jquery.min.js")
        script(type="text/javascript" src="/javascripts/materialize.min.js")
        script(type="text/javascript" src="/javascripts/main.js")
