extends layout

block content
    div.row
        h1 Login with your Baby ID
        form.col.s12
            div.row
                div.input-field.col.s12
                    input(id="username" type="text")
                    label(for="username") Username
                div.input-field.col.s12
                    input(id="password" type="text")
                    label(for="password") Password
