extends layout

block content
    div.row
        h1 Create your Baby ID login
        form.col.s12
            div.row
                div.input-field.col.s12
                    i.material-icons.prefix account_box
                    input(id="username" type="text")
                    label(for="username") Username
                div.input-field.col.s12
                    i.material-icons.prefix lock
                    input(id="password" type="password")
                    label(for="password") Password
                div.input-field.col.s12
                    i.material-icons.prefix lock_outline
                    input(id="verify_password" type="password")
                    label(for="verify_password") Verify password
                div.input-field.col.s12
                    i.material-icons.prefix person
                    input(id="fisrtname" type="text")
                    label(for="firstname") First name
                div.input-field.col.s12
                    i.material-icons.prefix person_outline
                    input(id="lastname" type="text")
                    label(for="lastname") Last name
                div.input-field.col.s12
                    i.material-icons.prefix cake
                    input(id="birthdate" type="text")
                    label(for="birthdate") Birthdate
                div.input-field.col.s12
                    i.material-icons.prefix home
                    input(id="address" type="text")
                    label(for="address") Address
                div.input-field.col.s12
                    i.material-icons.prefix phone
                    input(id="phone" type="text")
                    label(for="phone") Phone number
                div.input-field.col.s12
                    input.waves-effect.waves-light.btn(type="submit" value="Sign up")
