extends layout

block content
    div.row
        h1 Create your Baby ID login
        form.col.s12
            div.row
                div.input-field.col.s12
                    input(id="username" type="text")
                    label(for="username") Username
                div.input-field.col.s12
                    input(id="username" type="text")
                    label(for="password") Password
                div.input-field.col.s12
                    input(id="fullname" type="text")
                    label(for="fullname") Full name
                div.input-field.col.s12
                    input(id="birthdate" type="text")
                    label(for="birthdate") Birthdate
                div.input-field.col.s12
                    input(id="address" type="text")
                    label(for="address") Address
                div.input-field.col.s12
                    input(id="phone" type="text")
                    label(for="phone") Phone number
